<template>
  <div class="home">
    <Conjugations msg=""/>
  </div>
</template>

<script>
// @ is an alias to /src
import Conjugations from '@/components/Conjugations.vue'

export default {
  name: 'home',
  components: {
    Conjugations
  },
}
</script>
