<template>
  <div class="body">
    <h1>Tagalog verb conjugator</h1>
    <h2>What verb do you want to conjugate?</h2>
    <input type="text" id="verb" placeholder="root word" autofocus>

    <div class="conjugations-container">
      <div class="conjugations" v-for="word in words" v-bind:key="word.tense">
        <div class="tense">
          {{ word.tense }}
        </div>
        <div class="conjugation">
          {{ word.conjugation }}
        </div>
      </div>
    </div>

    <hr>
    <h2>What conjugation do you want?</h2>
    <h2>Actor Focus</h2>
    <div class="menu">
      <div  class="actor">
        <button class="button" @click="mag">mag-</button>
        <button class="button" @click="um">-um-</button>
        <button class="button" @click="ma">ma-</button>
        <button class="button" @click="mang">mang-</button>
        <button class="button" @click="magpa">magpa-</button>
      </div>
      <h2>Object Focus</h2>
      <div class="object">
        <button class="button" @click="In">-in</button>
        <button class="button" @click="i">i-</button>
        <button class="button" @click="an">-an</button>
        <button class="button" @click="pag_an">pag-an</button>
        <button class="button" @click="ipag">ipag-</button>
        <button class="button" @click="ika">ika-</button>
        <br>
        <button class="button" @click="ipa">ipa-</button>
        <button class="button" @click="pa_in">pa-in</button>
        <button class="button" @click="pag_in">pag-in</button>
        <button class="button" @click="pa_an">pa-an</button>
        <button class="button" @click="pang_in">pang-in</button>

      </div>
    </div>

  </div>
</template>

<script>
import mag from '../conjugations/actor_basic/mag.js';
import um from '../conjugations/actor_basic/um.js';
import ma from '../conjugations/actor_basic/ma.js';
import mang from '../conjugations/actor_basic/mang.js';
import magpa from '../conjugations/causitive/magpa.js';
import In from '../conjugations/object_basic/in.js';
import i from '../conjugations/object_basic/i.js';
import an from '../conjugations/object_basic/an.js';
import pag_an from '../conjugations/object_basic/pag-an.js';
import ipa from '../conjugations/causitive/ipa.js';
import pa_in from '../conjugations/causitive/pa-in.js';
import pag_in from '../conjugations/causitive/pag-in.js';
import pa_an from '../conjugations/causitive/pa-an.js';
import pang_in from '../conjugations/causitive/pang-in.js';
import ipag from '../conjugations/object_misc/ipag.js';
import ika from '../conjugations/object_misc/ika.js';


export default {
  name: 'HelloWorld',
  data() {
    return {
      words: [{}]
    }
  },
  methods: {
    isEmpty: function(word) {
      if (word === "") { // Don't conjugate if no word given
            alert("Please enter a word");
            return true;
      }
    },
    mag: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = mag.conjugate(word);
    },
    um: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = um.conjugate(word);
    },
    ma: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = ma.conjugate(word);
    },
    mang: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = mang.conjugate(word);
    },
    magpa: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = magpa.conjugate(word);
    },
    In: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = In.conjugate(word);
    },
    i: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = i.conjugate(word);
    },
    an: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = an.conjugate(word);    
    },
    pag_an: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = pag_an.conjugate(word);    
    },    
    ipa: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = ipa.conjugate(word);    
    },
    pa_in: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = pa_in.conjugate(word);    
    },
    pag_in: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = pag_in.conjugate(word);    
    },
    pa_an: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = pa_an.conjugate(word);    
    },
    pang_in: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = pang_in.conjugate(word);    
    },
    ipag: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = ipag.conjugate(word);    
    },
    ika: function() {
      let word = document.getElementById("verb").value.toLowerCase().trim();
      if (!this.isEmpty(word)) this.words = ika.conjugate(word);    
    },
  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.body {
  margin-top: 0%;
}

.button {
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  cursor: pointer;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.2s;
}

.button:hover {
  background-color: white; 
  color: black; 
  border: 2px solid dodgerblue;
}

.conjugations-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.conjugations {
  overflow: auto;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .conjugations-container {
    display: flex;
    flex-direction: column;
  }
}

.tense {
  font-weight: bold;
}


input {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 30px;
  border-radius: 8px;
  border: 1px solid black;
  text-align: center;
}

li {
  list-style-type: none;
  padding: 5px;
}

hr {
  width: 90%;
}

</style>
